<main>
  <section id="messages">
    {{message}}
  </section>
  <form action="/message" id="message-form">
    <label class="form-label" for="message">Type your message</label>
    <div class="input-group">
      <input class="form-input" type="text" id="message" autocomplete="off">
      <button type="submit" class="btn btn-primary input-group-btn">Send</button>
    </div>
  </form>
</main>