<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>

    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/stylesheets/spectre.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    {{{body}}}

    <footer>
      Thanks to Icons8 for the <a href="https://icons8.com/icon/13751/Speech-Bubble">Speech Bubble icon</a>
    </footer>

    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
